body{
	font-family: monospace;
	font-size: 11pt;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #444;
	color: #ffffff;
}

div.wrapper{
	width: 540pt; /* 11pt * (cols) * 0.6203 + 1 = 540pt */
	margin: 0px auto;
	padding: 50px;
	padding-top: 50px;
	overflow: hidden;
}

div.title{
	width: 100%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
	text-align: center;
}

div.tty{
	width: 540pt; /* 11pt * (cols) * 0.6203 + 1 = 540pt */
	/*height: 324pt; /* 14pt * (rows - 1) + 2pt */
	background-color: #000000;
	/* line-height: 14pt; /* Remove this line for FireFox */
	box-shadow: 0px 0px 50px 20px rgba(0,0,0,0.5);
	overflow-x: hidden;
	overflow-y: hidden;
}
